<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.boolbird.keepalive.demo">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:name="com.boolbird.keepalive.demo.MainApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="KeepAlive"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.boolbird.keepalive.demo.MainActivity"
            android:exported="true"
            android:label="KeepAlive"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.boolbird.keepalive.demo.Service1"
            android:exported="true"
            android:process=":resident" />
    </application>

</manifest>
